.prjectsContainer {
  width: 100%;
  padding: 120px 0 60px;
  display: flex;
  flex-direction: column;

  .titleContainer {
    position: absolute;
    top: 20px;
    left: 10px;
    h4 {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .txtProjectsContainer {
    width: 90%;
    margin: 0 auto 10px;

    h2 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 18px;
      font-weight: 300;
      margin-bottom: 10px;
    }

    .linkProjectContainer {
      margin: 0 auto 15px;
      text-align: center;
      animation: urlAnimation 4s infinite;
      a {
        font-size: 14px;
        text-decoration: none;
      }
    }
  }  

  .imgMiniContainer {
    width: 90%;
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;

    img {
      width: 70px;
    }
  }

  .imgProjectsContainer {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.darkTxtProject {
  h4,
  h1,
  span,
  a {
    color: #f5dc31;
  }
  p,
  h2 {
    color: #ffffff;
  }
}

.lightTxtProject {
  h4,
  h1,
  span,
  a {
    color: #3a45f6;
  }
  p,
  h2 {
    color: #646464;
  }
}

.projectTrueDark {
  border: solid 1px #f5dc31;
  box-shadow: 0 0 5px rgba(245, 220, 49, 0.2), 0 0 10px rgba(245, 220, 49, 0.2),
    0 0 15px rgba(245, 220, 49, 0.2);
}

.projectTrueLight {
  border: solid 1px #3a45f6;
  box-shadow: 0 0 5px rgba(58, 69, 246, 0.2), 0 0 10px rgba(58, 69, 246, 0.2),
    0 0 15px rgba(58, 69, 246, 0.2);
}

.projectFalse {
  opacity: 0.5;
  filter: grayscale(1);
}

@keyframes urlAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .prjectsContainer {
    padding: 120px 0 80px;

    .titleContainer {
      top: 25px;
      left: 20px;

      h4 {
        font-size: 20px;
      }
    }

    .projects{
      padding: 0 5%;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      align-items: flex-end;

        .txtProjectsContainer{
          max-width: 425px;
          text-align: left;
          margin: 0 45px 0 0;

            h2{
              font-size: 18px;
            }
            p{
              font-size: 16px;
              line-height: 21px;
            }
            .linkProjectContainer{
              text-align: left;
              margin-bottom: 0;
            }
        }

        .imgMiniContainer{
          width: 220px;
          margin: 0;
          flex-wrap: wrap;

            img{
              width: 100px;
              margin: 5px;
            }
        }
    }
  }
}

@media screen and (min-width: 1220px){
  .prjectsContainer{
    padding: 0;
    display: flex;
    flex-direction: row;

      .titleContainer{
        top: auto;
        left: auto;
        bottom: 20px;
        right: 30px;
      }

    .projects{
      width: 45%;
      padding: 0 75px 40px;
      margin: 0;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;

        .txtProjectsContainer{
          margin: 0 0 30px;
        }

        .imgMiniContainer{
          width: 260px;
            img{
              width: 120px;
            }
        }
    }
    
    .imgProjectsContainer{
      max-width: 600px;
      height: 100vh;
      overflow: scroll;
    }
  }
}

@media screen and (min-width:1920px) {
  .prjectsContainer{
    padding-right: 230px;
    .titleContainer{
      bottom: 35px;
      right: 70px;
      h4{
        font-size: 30px;
      }
    }
    .projects{
      align-items: center;
      padding: 0 0 70px;
      .txtProjectsContainer{
        h2{
          font-size: 20px;
        }
        p{
          font-size: 18px;
          line-height: 22px;
        }
        a{
          font-size: 16px;
        }
      }
      .imgMiniContainer{
        width: 440px;
          img{
            width: 210px;
          }
      }
    }
    .imgProjectsContainer{
      max-width: 850px;
    }
  }  
}