* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
    &::-webkit-scrollbar {
      display: none;
  }
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transition: all ease 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkApp {
  background-color: #2a2c35;
}

.lightApp {
  background-color: #ffffff;
}